@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-bg:             #121212;
  --color-surface:        #1E1E1E;
  --color-text-primary:   #FFFFFF;
  --color-text-secondary: #CCCCCC;
  --color-accent:         #4F46E5;
  --color-accent-hover:   #6366F1;
  --color-border:         #2C2C2C;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text-primary);
  }
}